<footer>
<p>
  Site by <a href="https://btmeadows.com">Ben Meadows</a>. Find the site code on <a href="https://github.com/bemeadows/portal.gibsonplumbing">Github</a>.
</p>
<p>
  This page was generated on {{ date | timestamp }}.
</p>
</footer>
