<footer>
<p>
  Site by <a href="https://btmeadows.com">Ben Meadows</a>. Forked from <a href="{{ pkg.repository.url }}">Github</a>.
</p>
<p>
  This page was generated on {{ date | timestamp }}
</p>
</footer>
